# System and editor files
**/.DS_Store
Thumbs.db
*.log

# Node.js dependencies
/node_modules/

# Parcel cache
/.parcel-cache/

# Production / build folder
/dist/

# Local environment configuration
.env

# Temporary or backup files
*.bak
*.tmp
*.swp

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
