/* ── Lista ───────────────────────────────────────── */

.featured-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: var(--grid-column-gap);
  row-gap: var(--grid-row-gap);
}

.featured-grid li:first-child {
  grid-column: 1 / -1;
}

.featured-grid li:not(:first-child) {
  grid-column: span 1;
}


/* ── Cards ───────────────────────────────────────── */

.featured-grid li a {
  cursor: pointer;
}


/* ── Figure ──────────────────────────────────────── */

.featured-grid figure {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 27.5rem;
  background-color: var(--color-neutral-100);
}

.featured-grid li:first-child figure {
  min-height: 41.5rem;
}

.featured-grid li a:hover figure {
  border-radius: var(--card-border-radius);
}



/* ── Image ──────────────────────────────────────── */

.featured-grid figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease;
}

.featured-grid li a:hover figure img {
  transform: scale(1.02);
}

/* ── Chip ────────────────────────────────────────── */

.chip {
  position: absolute;
  bottom: 1rem;
  left: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 2.5rem;
  min-height: 2.5rem;

  background-color: var(--color-neutral-0);
  padding: var(--spacing-2);
  border-radius: var(--chip-border-radius);

  overflow: hidden;
  transition: all 0.3s ease;
}

.featured-grid li a:hover .chip {
  gap: var(--spacing-1); 
  padding: 0.5rem 1rem 0.5rem 1.25rem;
}

.chip::after {
    content: "";

    display: inline-block;
    vertical-align: middle;
    transition: all 0.3s ease;

    width: var(--size-icon-medium);
    height: var(--size-icon-medium);

    background-image: url("../../src/assets/icons/arrow-up-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

 .featured-grid a:hover .chip::after {
    transform: rotate(45deg);
  } 


  /* Chip Text */

.chip-text {
  max-width: 0;
  opacity: 0;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.featured-grid a:hover .chip-text {
    max-width: 20ch; 
    opacity: 1;
    margin-left: var(--spacing-1);
    display: inline-flex;
    align-items: center;
  }



/* ── Texto ───────────────────────────────────────── */

.card-info {
  padding-top: 0.75rem;
  padding-bottom: 2rem;
}

.featured-grid h2 {
  margin-top: var(--spacing-4);
}

.featured-grid p {
  color: var(--color-text-secondary);
}